.CollectionsContainer{
    width: 85%;
    height: auto;
    margin: 20px 0 0 8%;
    padding-bottom: 20px;
}
.header{
    width: 85%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/background.jpg");
    margin: 0 0 40px 8%;
    opacity: 0.8;
  
}
.header-text{
    width: 50%;
    height: 200px;
    background:tomato;
    position: absolute;
}
.header-text:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 70px solid white;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
  }
  .header-text:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
  @media(max-width: 1000px){
      .header{
          height: 30vh;
      }
      .header-text{
        width: 80%;
        height: 200px;
        background:tomato;
        position: absolute;
    }
  }
